<nav>
  <ul class="list-group ml-1 mt-5">
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-5 ">このサイトの目的</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1 ">使用ガイド</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">飼育マニュアル</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">みんなの投稿</li>
    <% if user_signed_in? %>
      <li >
      <%= link_to "My ページ", user_path(current_user.id), class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %> 
      </li>
      <li>
      <%= link_to "NEW BREED", new_breed_path, class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %>
      </li>
    <% end %>
  </ul>
</nav>

<main>
  <div class="main-images align-top mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 class="text-center">答えはひとつだけじゃない。</h1>
          <img src="/assets/main1.png" class="d-block w-80 top-img" alt="...">
        </div>
        <div class="carousel-item">
          <h1 class="text-center">やりたいことを、本気でやろう。</h1>
          <img src="/assets/main2.png" class="d-block w-80 top-img" alt="...">
        </div>
        <div class="carousel-item">
          <h1 class="text-center">すき だから、あきらめない。。</h1>
          <img src="/assets/main3.png" class="d-block w-80 top-img" alt="...">
        </div>
        <div class="carousel-item">
           <h1 class="text-center">いつまでも少年。。</h1>
          <img src="/assets/main4.png" class="d-block w-80 top-img" alt="...">
        </div>
      </div>
    </div>              
  </div>
</main>