/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif; 
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


/* ヘッダー */
body {
  min-height: 100vh;
  display: grid;
  grid-template:
        " header header header header header " 80px
        " ...... ...... ...... ...... ...... " 
        "  main   main   main   main  main   "  1fr
        " ...... ...... ...... ...... ...... " 
        " footer footer footer footer footer " 35px
        / auto  
}

header {
  grid-area: header;
  background-color: #aae9bbb0;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.nav-left{
  padding-left: 500px;
}
.title{
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #161515 3px 3px 5px;
  font-size: 50px;
}
.name{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #161515 3px 3px 5px;
}

.nav-right{
  margin: 10px 10px 10px 50px;
}

.nav__btn{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  color: #0b1114;
  text-decoration: none;
  user-select: none;
  border: 2px #0b1114 solid;
  border-radius: 5px;
}
.nav__btn:hover{
  color: #ecf5fa;
  background: #0d0e0d;
}

/* メイン */
main{
  grid-area: main;
  
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main-image{
  margin: 120px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

 

/* フッター */
footer {
  grid-area: footer;
  background-color: #aae9bbb0;
  padding: 0 auto ;
}
.copyright {
  text-align: center;
  color: #0e0c0c;
  font-size: 20px;
}

/* フォーム周り */
.form__wrapper{
  display: column;
  justify-content: center;
  align-items: center;
}

.form__text {
  width: 90%;
}

.field{
  margin: 5px ;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(8, 8, 8);
  text-decoration: none;
  user-select: none;
  background: #aae9bbb0;
  border: 1px #aae9bbb0;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* 詳細ページ */
.breed__wrapper{

}
.breed__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.breed__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.breed__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.breed__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.breed__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.breed__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.breed__btn:hover{
  color: #fff;
  background: #999;
}


/* ユーザー関連 */

.new-user{
  padding: 40px 0 0 70px;
  margin: 0 auto;
  width: 500px;
}

.user-sign{
  padding: 40px 0 0 70px;
  margin: 0 auto;
  width: 500px;
}
.show-title{
  display: flex;
  justify-content: flex-start;
  align-items:center ;
}
.user-show{
  width: 350px;
  text-align: center;
  font: bold;
  font-size: 17px;
}

.users-breed{
  text-align: center;
  margin-top: 40px;
}

.user__image{
  margin: 0 auto;
  width: 250px; 
  height: 250px;
}
.new_breed{
  display: column;
  justify-content: center;
  align-items: center;
}

.page-heading{
  font-size: 40px;
  font-family: 'Lobster13Regular', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: #2c272733 3px 3px 3px;
/*text stroke*/
  -webkit-text-stroke: 4px rgba(0, 0, 0, .6);
}

.page-heading２{
  font-size: 15px;
  color: #dd3030e0;
}
.up-name {
  background: #b92626;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #d4c2c2;
  font-size: 12px;
  font-weight: bold;
}
.new{
  margin: 0 0 0 500px;
  width: 500px;
}
.edit{
  margin: 70px 0 0 500px;
  width: 500px;
}

.heading{
  display: flex;

}

.page1-heading{
  width: 100%;
  height: 90px;
  font-size: 55px;
  margin: 80px 0 0 0;
  font-family: Bodoni serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #2c2c2c 3px 3px 5px;
    background-color: #34802d;
    color: wheat;
}

.show-heading{
  padding-top: 35px; 
  height: 70px;
  font-size: 40px;
  font-family: 'Lobster13Regular', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: #2c272733 3px 3px 3px;
/*text stroke*/
  -webkit-text-stroke: 4px rgba(0, 0, 0, .6);
}
.item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.breed-show{
  margin: 0 20px;
}